node_modules
.env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# OpenZeppelin files
/.openzeppelin

# wallet keys
/trading-wallets.json
/volume_generator_config.json
/scripts/volume_bot